<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Ruleta</title>
</head>
<body>
<form>
    <label>Numero:<input type="text" name="numero"/></label>
    <label>Monto a Apostar $:<input type="text" name="monto"/></label>

    <input type="hidden" name="mathType" value="pluss" checked="true" />


    <input type="submit" value="Spin"/>
    <div>
        <p th:text="Numero"> </p><p th:text="${two}"></p>
        <p th:text="Ganador"> </p><p th:text="${one}"></p>
        <p th:text="CantidadApostada"> </p><p th:text="${tree}"></p>
        <p th:text="DineroRestante"> </p><p th:text="${four}"></p>
    </div>


</form>

</body>
</html>